.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-left: 1rem;
  font-size: 1.6rem;
  transition: all 0.7s ease-in-out;
}
.button:hover {
  transform: rotate(-360deg) scale(1.1);
  transform-origin: center;
}
