.todo {
  display: flex;
  align-items: flex-start;
  margin: 0.8rem 0;
  white-space: pre-wrap;
}
.checkbox {
  margin-left: 1.5rem;
  margin-top: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-header);
}
.text {
  z-index: 999;
  flex: 1 0 auto;
  margin-left: 1.2rem;
  font-size: 1.5rem;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}
.text.selected {
  opacity: 0.5;
  text-decoration: line-through;
  transition: all 0.3s ease-in-out;
}
.button {
  margin-top: 0.3rem;
  margin-right: 1rem;
  background: none;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--color-delete-button);
}
.button:hover {
  color: var(--color-delete-hover);
  transform: scale(1.1);
  will-change: auto;
}
