.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background-color: var(--color-white);
  z-index: 999;
}
.input {
  flex: 1 0 auto;
  height: 3rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
  caret-color: var(--color-react-blue);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 0.8rem;
}
.input::placeholder {
  color: var(--color-react-blue);
  opacity: 0.6;
}
.button {
  width: 100px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-react-blue);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
